@font-face {
  font-family: Monocraft;
  src: url(Monocraft.ttf);
}

html {
  overflow:hidden;
  background: linear-gradient(#121416, #080808);
  text-align: center;
  height: 100%;
  width: 100%;
}


.Margin{
  outline: 0.5px solid hsla(0, 0%, 100%, 0.5);
  position: fixed;
  z-index: 10;
  left: 50px;
  right: 50px;
  top: 50px;
  bottom: 50px;
  pointer-events: none;
}

body {
  overflow:hidden;
  background: linear-gradient(#121416, #080808);
  text-align: center;
  height: 100%;
  width: 100%;
}

header {
  margin: 25px;
  font-family: 'Montserrat', Helvetica;
  font-weight: 200;
  color: white;
  text-align:left;
  font-size:xx-large;
}

h1 {
  margin: 25px;
  font-family: 'Montserrat', Helvetica;
  font-weight: 50;
  color:ghostwhite;
  text-align:left;
  font-size:medium;
}

h1::after {
  color:rgba(248, 248, 255, 0.476);
  margin-left: 50px;
}